<div class="mx- mt-4">


    <div class="jumbotron text-center mb-4">

        <!--Card image-->
        <div class="view overlay hm-white-slight my-4">
            <img height="200px" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid" alt="">
            <a href="#">
                <div class="mask"></div>
            </a>
        </div>

        <h5 class="indigo-text font-bold mb-4">Photography</h5>

        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </p>

        <!--Linkedin-->
        <a class="mr-3 li-ic"><i class="fa fa-linkedin grey-text"> </i></a>
        <!--Twitter-->
        <a class="mr-3 tw-ic"><i class="fa fa-twitter grey-text"> </i></a>
        <!--Dribbble-->
        <a class="fb-ic"><i class="fa fa-facebook grey-text"> </i></a>

    </div>
    <!--Jumbotron-->

</div>